.inner-left-shadow-spec {
    position: relative;
}

.inner-left-shadow-spec::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0) 50%);
    pointer-events: none; /* Alttaki içerikle etkileşimi engeller */
    z-index: 2; /* İçeriğin üstünde olmasını sağlar */
}


.arabaPhoto1 {
    background-image: url("../images/mainPhoto.jpeg"); /* İlk görsel */
   
}




.spec-min-h{
    min-height: 670px;
}

@media (min-width:335px) {
    .spec-min-h{
        min-height: 700px;
    }
}

@media (max-width:1024px) {
    .inner-left-shadow-spec::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0) 80%);
        pointer-events: none; /* Alttaki içerikle etkileşimi engeller */
        z-index: 2; /* İçeriğin üstünde olmasını sağlar */
    }
}

.px-spec-1{
    padding-left: 35px;
    padding-right: 35px;
}

.spec-object-position{
    object-position: 50% 65%;
}