.homeWallpaper{
    background-image: url('../images/selectedRR.jpeg');
}

.bg-dark-solid-private{
    background-color: rgba(0, 0, 0, 0.7);
}

.text-shadow-yellow{
    text-shadow: 0px 1px 50px rgba(252,211,77,0.6);
}

.box-shadow-yellow{
  box-shadow: 0px 0px 16px -2px rgba(252, 211, 77, 0.486);
}

.tracking-widest-more{
    letter-spacing: 0.6em;
}

  .specialClass{
    display: flex;
  }

  .downIcoAni{
    animation-name: DownIcoAni;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
  }

  .helperLabel{
    animation-name: helperLabel;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-direction: alternate;
    opacity: 0;
  }

  .defaultImg, .defaultImgLabel {
    opacity: 0;
    visibility: hidden; 
    animation-timing-function: ease;
    animation-fill-mode: forwards; 
}

.defaultImg {
    animation-name: defaultImg;
    animation-duration: 2s;
    animation-delay: .3s;
    animation-direction: normal;
}

.defaultImgLabel {
    animation-name: defaultImgLabel;
    animation-duration: 2s;
    animation-delay: .6s;
    animation-direction: normal;
}

@keyframes defaultImg {
    from {
        opacity: 0;
        transform: translateY(-25px);
        visibility: visible; 
    }
    to {
        opacity: 1;
        transform: translateY(0px);
        visibility: visible;
    }
}

@keyframes defaultImgLabel {
    from {
        opacity: 0;
        transform: translateY(-25px);
        visibility: visible; 
    }
    to {
        opacity: 1;
        transform: translateY(0px);
        visibility: visible;
    }
}


  @keyframes helperLabel {
    from{
      opacity: 0;
      transform: translateY(-5px);
    }

    to{
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes DownIcoAni{
    from{
      transform: translateY(0px);
    }

    to{
      transform: translateY(-10px);
    }
  }

  @media (min-width:1024px) {
    .specialClass{
      display: none !important;
      width: 700px !important;
    }
  }

  @media (min-width:640px){
    .specialClass{
        width: 400px !important;
    }
}

@media (min-width:768px){
    .specialClass{
        width: 500px !important;
    }
}


  @media (max-width:639px){
    .specialClass{
      width: 300px !important;
    }
  }

  