.animate-open-text{
    animation: gradient-animation2 4s infinite, mainLabel 1s ease  alternate;
}

@keyframes gradient-animation2 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }

  .bg-transparent-black-special{
    background-color: rgba(0, 0, 0, 0.702);
    animation-name: ani1;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-iteration-count: 1;
  }

  @keyframes ani1{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }

  .ani2{
    animation-name: ani2;
    animation-duration: 2s;
    animation-delay: .6s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-iteration-count: 1;
  }

  @keyframes ani2{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    }

  .box-shadow-black-1{
    box-shadow: 17px 0px 12px 0px rgba(0,0,0,0.802);
  }

  .border-amber-500-spec{
    border-color: #F59E0B;
}

@media (max-width:1536px) {
  .bg-transparent-black-special{
    background-color: rgba(0, 0, 0, 0.702);
    animation-name: ani1;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-iteration-count: 1;
  }
}

@media (max-width:1280px) {
  .mt-320vw-spec{
    margin-top: 120px;
  }
}

@media (max-width:891px) {
  .mt-320vw-spec{
    margin-top: 160px;
  }
}

@media (max-width:627px) {
  .mt-320vw-spec{
    margin-top: 190px;
  }
}

@media (max-width:510px) {
  .mt-320vw-spec{
    margin-top: 230px;
  }
}

@media (max-width:490px) {
  .mt-320vw-spec{
    margin-top: 300px;
  }
}

@media (max-width:370px) {
  .mt-320vw-spec{
    margin-top: 360px;
  }
}

@media (max-width:340px) {
  .mt-320vw-spec{
    margin-top: 400px;
  }
}

@media (max-width:320px) {
  .mt-320vw-spec{
    margin-top: 460px;
  }
}

/* ////////////////////////////////////////////////////// */

@media (max-width:1280px) {
  .my-spec-1{
    margin-top: 120px;
    margin-bottom: 140px;
  }
}

@media (max-width:721px) {
  .my-spec-1{
    margin-top: 100px;
    margin-bottom: 140px;
  }
}

@media (max-width:505px) {
  .my-spec-1{
    margin-top: 80px;
    margin-bottom: 140px;
  }
}

@media (max-width:490px) {
  .my-spec-1{
    margin-top: 80px;
    margin-bottom: 100px;
  }
}


@media (max-width:420px) {
  .my-spec-1{
    margin-top: 70px;
    margin-bottom: 100px;
  }
}







