@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background-color: black;
}

.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
  }

  .inter-700 {
    font-family: "Inter", serif;
    font-weight: 700;
    font-style: normal;
  }


  .inter-600 {
    font-family: "Inter", serif;
    font-weight: 600;
    font-style: normal;
  }

  .inter-500 {
    font-family: "Inter", serif;
    font-weight: 500;
  }

  .inter-400 {
    font-family: "Inter", serif;
    font-weight: 400;
  }

  .inter-300 {
    font-family: "Inter", serif;
    font-weight: 300;
  }

  .dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
  }

  .yellowScroll::-webkit-scrollbar {
    height: 5px;
    width: 8px;
  }
  .yellowScroll::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #000000;
  }
  
  .yellowScroll::-webkit-scrollbar-track:hover {
    background-color: #000000;
  }
  
  .yellowScroll::-webkit-scrollbar-track:active {
    background-color: #000000;
  }
  
  .yellowScroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #d4aa00;
  }
  
  .yellowScroll::-webkit-scrollbar-thumb:hover {
    background-color: #FFCE0C;
  }
  
  .yellowScroll::-webkit-scrollbar-thumb:active {
    background-color: #FFCE0C;
  }