.text-shadow-yellow{
    text-shadow: 0px 1px 20px rgba(252,211,77,0.6);
}

.bg-ofmproduction{
    background-image: url("../images/Wallpaper.jpg");
}

.bg-semiblack{
    background-color: rgba(0, 0, 0, 0.792);
}

/* fade-item başlangıç durumu */
.fade-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  
  /* Görünür olduğunda animasyon uygulanır */
  .fade-in {
    opacity: 1;
    transform: translateY(0);
  }

  .classCheck1 div .slick-slider .slick-list {
    width: 300px !important;
    height: 600px !important;
    margin-left: 1px !important;
    margin-right: 1px !important;
}

.classCheck1 div .slick-slider .slick-list .slick-track .slick-slide > div {
    padding: 0 10px; 
}

.slick-list {
    margin: 0 -10px; 
}

.mt-spec-1{
    margin-top: 0px;
}

@media (max-height:715px) {
    .mt-spec-1{
        margin-top: 75px;
    }
}
  